@model LoginViewModel
<div>
    <h1>Вход в личный кабинет</h1>
    <form asp-area="" asp-controller="Account" asp-action="Login" method="post" asp-route-returnurl="@ViewBag.returnurl">
        <div></div>
    </form>
</div>