@{
    Layout = "_Layout";
}
@model AccountViewModel
<div class="align-baseline center login-box bg-black">
    <h1 class="fittext2">Registration</h1>
    <form asp-area="" asp-controller="Account" asp-action="SignUp" method="post">
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="Login"></label>
            <input asp-for="Login" />
            <span asp-validation-for="Login"></span>
        </div>
        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="RememberMe"></label>
            <input asp-for="RememberMe" class="left-align" />
            <span asp-validation-for="RememberMe"></span>
        </div>
        <div>
            <input type="submit" value="SignUp" />
        </div>
    </form>

    <a asp-controller="Account" asp-action="Login">
        <p class="active">Login</p>s
    </a>
</div>