@{
    Layout = "_Layout";
}
@model Article

<div class="section primary-section">
    <div class="container">
<h2>@Model.Title</h2>
<p>@Model.DateOfCreate</p>
<p>Author: @ViewBag.Author</p>

@Html.Raw(Model.Text);

<a asp-action="Index">Back</a>
</div>
</div>
